
.DS_Store
*.aux
Proposal/document.bcf
Proposal/document.out
Proposal/document.log
Proposal/document.run.xml
Proposal/document.synctex.gz
.DS_Store
Proposal/document.bbl
Proposal/document.blg
Proposal/ProposaNotes.pages
.DS_Store
